.drawer {
  display: none;
}

.drawerseason {
  width: 96%;
  padding: 5px;
  min-height: 35px;
  color: #171717;
  background-color: #f9a828;
  font-weight: bold;
}
.drawerseason:hover {
  background-color: #f9b03d;
}
@media only screen and (max-width: 700px) {
  .drawer {
    display: block;
  }
}
