@font-face {
  font-family: logofont;
  src: url("../../HARLOWSI.TTF");
}

.st0 {
  fill: #ffffff;
  stroke: #1f3fff;
  stroke-width: 3.0597;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #f9a828;

  stroke: #2e383f;

  stroke-width: 10.6051;
  stroke-miterlimit: 10;
}
.st2 {
  fill: #000067;
  stroke: #cd0a26;
  stroke-width: 9.5335;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;

  stroke: #2e383f;

  stroke-width: 10.605;
  stroke-miterlimit: 10;
}
.st4 {
  fill: none;

  stroke: #2e383f;

  stroke-width: 6.3581;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #2e383f;
}
.st6 {
  font-family: logofont;
}
.st7 {
  font-size: 70.9857px;
}
.st8 {
  fill: none;

  stroke: #2e383f;

  stroke-width: 1.5;
  stroke-miterlimit: 10;
}
.st9 {
  fill: #f9a828;
}
.st10 {
  fill: #2e383f;
}
.st11 {
  fill: #f9a828;
}
.st12 {
  fill: #f9a828;
}
.st13 {
  fill: none;
}
.st14 {
  fill: #ffffff;
}
.st15 {
  fill: none;

  stroke: #f9a828;

  stroke-width: 0.2095;
  stroke-miterlimit: 10;
}
.st16 {
  fill: #f9a828;
  stroke: #f9a828;

  stroke-width: 0.6629;
  stroke-miterlimit: 10;
}
.st17 {
  fill: #f9a828;
  stroke: #f9a828;

  stroke-width: 0.4025;
  stroke-miterlimit: 10;
}

.mooncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    30deg,
    rgba(24, 44, 81, 0.9),
    rgba(9, 16, 30, 0.9)
  );
  overflow: hidden;
  min-height: 100vh;

  width: 100%;
  position: absolute;
  z-index: 10000;
  padding-bottom: 10px;
}

.moon {
  background-image: linear-gradient(30deg, #13223f, #0e1a30);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.moon::before {
  content: "";
  background: #c7938b;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  animation: 800ms moonlight linear infinite alternate;
}

@keyframes moonlight {
  0% {
    transform: translate(-34px, 34px) scale(0.9);
  }
  50% {
    transform: translate(0px, 0px) scale(1.02);
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #c7938b;
    background: #efdbd8;
  }
  100% {
    transform: translate(34px, -34px) scale(0.9);
  }
}

.staricon {
  fill: #13223f;
  stroke: #13223f;
  stroke-width: 2.6841;
  stroke-miterlimit: 10;
  animation: 800ms starlight infinite;
}

@keyframes starlight {
  0% {
    fill: #13223f;
    stroke: #13223f;
  }
  20% {
    fill: #13223f;
    stroke: #13223f;
  }

  50% {
    fill: #efdbd8;
    stroke: #efdbd8;
  }
  80% {
    fill: #13223f;
    stroke: #13223f;
  }

  100% {
    fill: #13223f;
    stroke: #13223f;
  }
}

.spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

@keyframes fa-spin {
  0% {
    transform: rotate(360deg);
  }
}

/* blogo css */

.b0 {
  fill: #ffffff;
  stroke: #1f3fff;
  stroke-width: 3.0597;
  stroke-miterlimit: 10;
}
.b1 {
  fill: #f9a828;
  stroke: #2e383f;
  stroke-width: 10.605;
  stroke-miterlimit: 10;
}
.b2 {
  fill: #f9a828;
  stroke: #2e383f;
  stroke-width: 10.6051;
  stroke-miterlimit: 10;
}
.b3 {
  fill: #000067;
  stroke: #cd0a26;
  stroke-width: 9.5335;
  stroke-miterlimit: 10;
}
.b4 {
  fill: none;
  stroke: #2e383f;
  stroke-width: 10.605;
  stroke-miterlimit: 10;
}
.b5 {
  fill: none;
  stroke: #2e383f;
  stroke-width: 6.3581;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.b6 {
  fill: #2e383f;
}
.b7 {
  fill: none;
  stroke: #2e383f;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}
.b8 {
  fill: #f9a828;
}
.b9 {
  fill: #2e383f;
}
.b10 {
  fill: #f9a828;
}
.b11 {
  fill: #f9a828;
}
.b12 {
  fill: none;
}
.b13 {
  fill: #ffffff;
}
.b14 {
  fill: none;
  stroke: #f9a828;
  stroke-width: 0.2095;
  stroke-miterlimit: 10;
}
.b15 {
  fill: #f9a828;
  stroke: #f9a828;
  stroke-width: 0.6629;
  stroke-miterlimit: 10;
}
.b16 {
  fill: #f9a828;
  stroke: #f9a828;
  stroke-width: 0.4025;
  stroke-miterlimit: 10;
}
/* .b17 {
  fill: #4f4f4f;
}
.b18 {
  fill: #07617d;
}
.b19 {
  fill: #666693;
}
.b20 {
  fill: #7f7fa5;
}
.b21 {
  fill: #9999b7;
}
.b22 {
  fill: #eeeeee;
  stroke: #000000;
  stroke-width: 0.0469;
  stroke-miterlimit: 10;
} */
.b23 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.0469;
  stroke-miterlimit: 10;
}
.b24 {
  fill: #eeeeee;
  stroke: #000000;
  stroke-width: 0.0471;
  stroke-miterlimit: 10;
}
.b25 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.0471;
  stroke-miterlimit: 10;
}

.blogo {
  width: 35px;
}

.drawerItem:hover {
  background-color: #ececeb;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.drawerItem {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 50px;
}

@media only screen and (max-width: 600px) {
  .blogo {
    width: 30px;
  }
}

.betstabLine {
  display: flex;
  color: #171717;
  background-color: #ececeb;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #fbfbfb;
  min-height: 40px;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
}
.betstabLine:hover {
  background-color: #fbfbfb;
  border-top: 1px solid #d4d4d3;
}

.betsTableAndSelectContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.betsTableContainer {
  height: 100%;
  overflow: auto;
}

.headerBets {
  border-top: 1px solid #d4d4d3;

  background-color: #d4d4d3;
  cursor: auto;
  color: #171717;
}
.headerBets:hover {
  border-top: 1px solid #d4d4d3;

  background-color: #d4d4d3;

  color: #171717;
}

.betsTabCellule {
  display: flex;
  padding: 2px;
  box-sizing: border-box;
  word-break: break-all;
  align-items: center;
  justify-content: center;

  font-family: "Montserrat", sans-serif;
}

.betusermoonsortContainer {
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.betusermoonnameContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-left: 50px;
}

.username {
  align-self: center;
  font-weight: bold;
}

.loadingerrorMessage {
  margin-top: 15%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  color: #171717;
  font-size: 18px;
  font-weight: bold;
}

.matchteams {
  width: 50%;
}
.playedatBetDate {
  font-size: 14px;
}
.playedatBetTime {
  font-size: 12px;
}

.team1 {
  justify-content: flex-end;
  width: 50%;
}
.team2 {
  justify-content: flex-start;
  width: 50%;
}

.sultanContainer {
  display: flex;
  background-color: #07617d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #f9a828;

  color: #fbfbfb;
  padding-bottom: 10px;

  width: 100%;
  margin-top: -14.8px;
}

.sultanBarglibeseasonicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.sultanBarTitle {
  display: flex;
  /* border: 1px solid red; */
  flex-shrink: 0;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.sultanpointsContainer {
  font-size: 15px;
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.kingsBar {
  display: flex;
  background-color: #ececeb;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #f9a828;
  font-weight: bold;
  color: #171717;
  padding-bottom: 5;
  padding-top: 5;
  width: 100%;
}
.kingsqueentitle {
  font-size: 30px;
  margin-left: 20px;
}

.kingItemsContainer {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.kinuserphotocontainer {
  width: 40%;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;

  min-height: 40px;
  box-sizing: border-box;
}
.kinuserphotocontainer:hover {
  text-decoration: underline;
}

.countryLogoContainer {
  width: 200px;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createbetorleagueButton {
  width: 150px;
  height: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  text-decoration: none;
  border: 5px solid#07617d;
  border-radius: 3px;
  background-color: #07617d;
  color: #fbfbfb;
  cursor: pointer;
  user-select: none;
}

.buttonsubmit {
  margin-left: 28px;
  margin-top: 20px;
}

.classtagline {
  color: #2e383f;
  font-size: 1.8vw;
  margin-left: 40%;
  margin-top: -10px;
}

@media only screen and (max-width: 700px) {
  .sultanContainer {
    margin-top: -35.8px;
  }
  .sultanpointsContainer {
    font-size: 10px;
    width: 150px;
  }
  .countryLogoContainer {
    width: 150px;
    justify-content: flex-end;
    padding-right: 2px;
  }
  .matchteams {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .team1 {
    justify-content: flex-end;
  }
  .team2 {
    justify-content: flex-start;
  }

  .loadingerrorMessage {
    margin-top: 20%;
  }
  .betdetailscontainer {
    flex-direction: column;
  }

  .betguessscorecontainer {
    width: 100%;
  }
  .headerBets {
    border-bottom: none;
  }
  .headerBets:hover {
    border-bottom: none;
  }
}

@media only screen and (max-width: 600px) {
  .classtagline {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 450px) {
  .betsTableAndSelectContainer {
    font-size: 13px;
  }
  .kingItemsContainer {
    padding: 0;
  }
  .loadingerrorMessage {
    margin-top: 30%;
  }
  .kingItem {
    font-size: 9px;
  }
  .sultanBar {
    font-size: 20px;
  }
  .kingsqueentitle {
    font-size: 20px;
  }
  .sultanBarTitle {
    font-size: 20px;
  }
  .sultanpointsContainer {
    padding-left: 4px;
    box-sizing: border-box;
  }
  .betusermoonsortContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .betusermoonnameContainer {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .buttonsubmit {
    margin-left: 2px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 300px) {
  .betsTableAndSelectContainer {
    font-size: 9px;
  }
  .kingsqueentitle {
    font-size: 15px;
  }
  .kinuserphotocontainer {
    padding-left: 6px;
  }
  .playedatBetDate {
    font-size: 10px;
  }
  .playedatBetTime {
    font-size: 8px;
  }
}

.crown0 {
  fill: #f9a828;
}
.crown1 {
  fill: #2e383f;
}

.crown3 {
  fill: #f9a828;
}
.crown4 {
  fill: #f9a828;
}
.crown5 {
  fill: none;
}
.crown6 {
  fill: #ffffff;
}
.crown7 {
  fill: none;
  stroke: #f9a828;
  stroke-miterlimit: 10;
}
/*crown 8 star */
.crown8 {
  fill: #f9a828;
  stroke: #f9a828;
  stroke-width: 3.1639;
  stroke-miterlimit: 10;
}
.crown9 {
  fill: #f9a828;
  stroke: #f9a828;
  stroke-width: 1.9212;
  stroke-miterlimit: 10;
  stroke-width: 3.1639;
  stroke-miterlimit: 10;
}

.imagesultan {
  border-radius: 50%;
  border: 3px solid #f9a828;
  animation-name: sultan;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes sultan {
  0% {
    border-color: rgb(185, 38, 38);
  }
  10% {
    border-color: rgb(198, 224, 46);
  }
  20% {
    border-color: #f50057;
  }
  30% {
    border-color: orangered;
  }
  40% {
    border-color: rgb(235, 27, 27);
  }
  50% {
    border-color: rgb(199, 22, 155);
  }
  60% {
    border-color: rgb(198, 224, 46);
  }
  70% {
    border-color: #f50057;
  }
  80% {
    border-color: rgb(0, 0, 255);
  }
  90% {
    border-color: rgb(2, 248, 23);
  }
  100% {
    border-color: rgb(0, 255, 255);
  }
}
