@font-face {
  font-family: myFirstFont;
  src: url("../../HARLOWSI.TTF");
}

.st0 {
  fill: #ffffff;
  stroke: #1f3fff;
  stroke-width: 3.0597;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #e6ab2d;
  stroke: #070427;
  stroke-width: 10.6051;
  stroke-miterlimit: 10;
}
.st2 {
  fill: #000067;
  stroke: #cd0a26;
  stroke-width: 9.5335;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;
  stroke: #070427;
  stroke-width: 10.605;
  stroke-miterlimit: 10;
}
.st4 {
  fill: none;
  stroke: #070427;
  stroke-width: 6.3581;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #070427;
}
.st6 {
  font-family: myFirstFont;
}
.st7 {
  font-size: 70.9857px;
}
.st8 {
  fill: none;
  stroke: #070427;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}
.st9 {
  fill: #ffb952;
}
.st10 {
  fill: #4e0000;
}
.st11 {
  fill: #e6ab2d;
}
.st12 {
  fill: #ffb652;
}
.st13 {
  fill: none;
}
.st14 {
  fill: #ffffff;
}
.st15 {
  fill: none;
  stroke: #ffb952;
  stroke-width: 0.2095;
  stroke-miterlimit: 10;
}
.st16 {
  fill: #e6ab2d;
  stroke: #e6ab2d;
  stroke-width: 0.6629;
  stroke-miterlimit: 10;
}
.st17 {
  fill: #ffb952;
  stroke: #e6ab2d;
  stroke-width: 0.4025;
  stroke-miterlimit: 10;
}
.st18 {
  fill: #4f4f4f;
}
.st19 {
  fill: #00004c;
}
.st20 {
  fill: #666693;
}
.st21 {
  fill: #7f7fa5;
}
.st22 {
  fill: #9999b7;
}
.st23 {
  fill: #eeeeee;
  stroke: #000000;
  stroke-width: 0.0469;
  stroke-miterlimit: 10;
}
.st24 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.0469;
  stroke-miterlimit: 10;
}
.st25 {
  fill: #eeeeee;
  stroke: #000000;
  stroke-width: 0.0471;
  stroke-miterlimit: 10;
}
.st26 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 0.0471;
  stroke-miterlimit: 10;
}
.st27 {
  fill: #026440;
}
.st28 {
  fill: #04b171;
}
.st29 {
  fill: #8ffdd5;
}
.st30 {
  fill: #9d0000;
  stroke: #000000;
  stroke-width: 0.0909;
  stroke-miterlimit: 10;
}
.st31 {
  fill: #c43b3b;
}
.st32 {
  fill: #9d0000;
}
.st33 {
  fill: #9d0000;
  stroke: #000000;
  stroke-width: 0.0928;
  stroke-miterlimit: 10;
}
.st34 {
  fill: #eeeeee;
  stroke: #000000;
  stroke-width: 0.0479;
  stroke-miterlimit: 10;
}
