.navbarbetfun {
  flex-grow: 1;
  background-color: #ede5e5;
  border-bottom: 2px solid #d5cece;
  width: 100%;
  padding-right: 15px;
  padding-left: 10px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
}
.betdomainNavbar {
  flex-grow: 1;
  background-color: #070427;

  border-bottom: 2px solid #e6ab2d;
  border-top: 2px solid #e6ab2d;
  max-height: 100px;
  width: 100%;
  padding-right: 30px;
  min-height: 84.5px;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 999;
  color: #d5cece;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.betdomainNavbarItem {
  padding-right: 3px;
  font-weight: bold;
  padding-left: 3px;
  color: #d5cece;
  text-decoration: none;
  cursor: pointer;
}
.betdomainNavbarItemsContainerDesktop {
  display: flex;

  justify-content: space-between;
  flex-grow: 1;
}

.blogosearchContainer {
  display: flex;
}

.logosearchContainer {
  display: flex;
}

.phonescreenbetpub {
  display: none;
}

.desktopscreenbetpub {
  display: flex;
  align-items: center;
  color: #02010f;

  font-size: 15px;
  font-weight: bold;
}

.iconContainer:hover {
  border-bottom: 2px solid #e6ab2d;
}
.iconContainer {
  border-bottom: 2px solid #ede5e5;
}

.desktopDomainLogoNameContainer {
  display: flex;
  width: 20%;

  flex-direction: column;
  align-items: center;
  /* border-right: 1px solid #e6ab2d; */
}

.fabarContainer {
  display: none;
}

.domainNameDesktop {
  font-weight: bold;
}

.domainNamePhone {
  display: none;
}

@media only screen and (max-width: 600px) {
  .iconContainer {
    margin-top: 2px;
  }
}

@media only screen and (max-width: 700px) {
  .logosearchContainer:focus-within {
    flex-grow: 1;
  }

  .fabarContainer {
    display: block;
  }
  .desktopDomainLogoNameContainer {
    margin-right: 0px;
  }
  .betdomainNavbar {
    padding-right: 10px;
    padding-left: 10px;
    min-height: auto;
  }
  .blogo {
    margin-right: 3px;
  }
  .betdomainNavbarItemsContainerDesktop {
    display: none;
  }
  .domainNameDesktop {
    display: none;
  }

  .domainNamePhone {
    display: block;

    font-weight: bold;
    font-size: 13px;
  }

  .phonescreenbetpub {
    display: flex;
    justify-content: space-between;

    margin-left: 3px;
  }
}

.user {
  max-width: 27px;
  max-height: 27px;

  border-radius: 50%;
  padding: 1px;
  border: 1px solid#070427;
  background-color: #e6ab2d;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .navbarbetfun {
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }

  .logosearchContainer {
    margin-right: 3px;
  }

  .domainNamePhone {
    margin-left: 10px;
  }
}

.drawerdomainItem:hover {
  background-color: #1f1d3c;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.drawerdomainItem {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 50px;
}
