.navbarbetfun {
  flex-grow: 1;
  background-color: #fbfbfb;
  border-bottom: 2px solid #d4d4d3;
  width: 100%;
  padding-right: 15px;
  padding-left: 10px;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: flex-end;
  z-index: 999;
}
.betdomainNavbar {
  flex-grow: 1;

  background-color: #07617d;

  border-bottom: 2px solid #f9a828;
  border-top: 2px solid #f9a828;
  max-height: 100px;
  width: 100%;
  padding-right: 30px;
  min-height: 84.5px;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 999;
  color: #fbfbfb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.betdomainNavbarItem {
  padding-right: 3px;
  font-weight: bold;
  padding-left: 3px;
  color: #fbfbfb;
  text-decoration: none;
  cursor: pointer;
}
.betdomainNavbarItemsContainerDesktop {
  display: flex;

  justify-content: space-between;
  flex-grow: 1;
}

.phonescreenbetpub {
  display: none;
}

.desktopscreenbetpub {
  display: flex;
  color: #171717;
  font-size: 13px;
  font-weight: bold;
}

.iconContainer:hover {
  border-bottom: 2px solid #f9a828;
}
.iconContainer {
  border-bottom: 2px solid #d4d4d3;
  box-sizing: border-box;
  height: 55px;
  width: 55px;
  margin-bottom: 4px;
  justify-content: center;
}

.desktopDomainLogoNameContainer {
  display: flex;
  width: 20%;

  flex-direction: column;
  align-items: center;
  
}

.fabarContainer {
  display: none;
}

.domainNameDesktop {
  font-weight: bold;
}

.domainNamePhone {
  display: none;
}

@media only screen and (max-width: 600px) {
  .iconContainer {
    margin-top: 2px;
  }
}

@media only screen and (max-width: 700px) {
  .fabarContainer {
    display: block;
  }
  .desktopDomainLogoNameContainer {
    margin-right: 0px;
  }
  .betdomainNavbar {
    padding-right: 10px;
    padding-left: 10px;
    min-height: auto;
  }
  .blogo {
    margin-right: 3px;
  }
  .betdomainNavbarItemsContainerDesktop {
    display: none;
  }
  .domainNameDesktop {
    display: none;
  }

  .domainNamePhone {
    display: block;

    font-weight: bold;
    font-size: 13px;
  }

  .phonescreenbetpub {
    display: flex;
    justify-content: space-between;

    margin-left: 3px;
  }
}

.user {
  max-width: 21px;
  max-height: 21px;

  border-radius: 50%;
  padding: 1px;
  border: 1px solid#2e383f;
  background-color: #f9a828;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select:none;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .navbarbetfun {
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }

  .domainNamePhone {
    margin-left: 10px;
  }
}

.drawerdomainItem:hover {
  background-color: #424b52;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select:none
}

.drawerdomainItem {
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 50px;
}
