@font-face {
  font-family: oldenglish;
  src: url("../../../../OLD.ttf");
}

.st00 {
  fill: #d9e021;
  stroke: #e91616;
  stroke-width: 10.605;
  stroke-miterlimit: 10;
}
.st01 {
  fill: #d9e021;
  stroke: #e91616;
  stroke-width: 10.6051;
  stroke-miterlimit: 10;
}

.st03 {
  fill: none;
  stroke: #e91616;
  stroke-width: 10.605;
  stroke-miterlimit: 10;
}
.st04 {
  fill: none;
  stroke: #e91616;
  stroke-width: 6.3581;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.st05 {
  fill: #e91616;
}
.st06 {
  fill: none;
  stroke: #e91616;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}
.st07 {
  fill: #d9e021;
  stroke: none;
}
.st08 {
  font-family: oldenglish;
}
.st09 {
  font-size: 36px;
}
.st010 {
  fill: #c51a1abe;
  stroke: none;
}
